@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

h1 {
	font-family: 'IM Fell English SC', serif;
	font-size: 64px;
}

h2 {
	font-family: 'Noto Sans', serif;
	font-size: 28px;
	color: slategrey;
}

h3 {
	font-family: 'Noto Sans', serif;
	font-size: 26px;
}

p {
	font-family: 'Noto Sans', serif;
	font-size: 18px;
}

h1 a {
	color: black;
}

a:not(h1 a):link {
	color: blue;
	text-decoration: none;
}

a:not(h1 a):hover {
	color: blue;
	text-decoration: underline;
}

a:not(h1 a):visited {
	color: blue;
	text-decoration: none;
}

.inputbox {
	font-family: 'Noto Sans', serif;
	font-size: 18px;
	width: 360px;
}

.submit {
	font-family: 'Noto Sans', serif;
	font-size: 18px;

	margin-left: 8px;
	width: 180px;

	border: 2px solid black;
	border-radius: 0;
}

.pfont {
	font-family: 'Noto Sans', serif;
	font-size: 18px;
}

.letterlist {
	font-family: 'Noto Sans', serif;
	font-size: 28px;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.center {
	width: 100%;
	justify-content: center;
	text-align: center;
}

.body {
	margin-left: 50px;
	margin-right: 50px;
}

.list {
	display: grid;

	grid-auto-flow: column;
	grid-template-rows: repeat(20, 50px);
}

.listlong {
	display: grid;

	grid-auto-flow: column;
	grid-template-rows: repeat(45, 50px);
}

.list2 {
	display: grid;

	grid-auto-flow: column;
	grid-template-rows: repeat(1000, 80px);
}

.listitem {
	width: 50%;
}