@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

h1 {
	@media (max-width: 500px) {
		font-size: calc(calc(64px * 0.75));
	}

	@media (min-width: 500px) {
		font-size: calc(64px);
	}

	font-family: 'IM Fell English SC', serif;
}

h2 {
	@media (max-width: 500px) {
		font-size: calc(calc(28px * 0.75));
	}

	@media (min-width: 500px) {
		font-size: calc(28px);
	}

	font-family: 'Noto Sans', serif;
	color: slategrey;
}

.h2font {
	@media (max-width: 500px) {
		font-size: calc(calc(28px * 0.75));
	}

	@media (min-width: 500px) {
		font-size: calc(28px);
	}
	
	font-family: 'Noto Sans', serif;
}

h3 {
	@media (max-width: 500px) {
		font-size: calc(calc(24px * 0.75));
	}

	@media (min-width: 500px) {
		font-size: calc(24px);
	}

	font-family: 'Noto Sans', serif;
}

p {
	@media (max-width: 500px) {
		font-size: calc(calc(18px * 0.75));
	}

	@media (min-width: 500px) {
		font-size: calc(18px);
	}

	font-family: 'Noto Sans', serif;
}

.pfont {
	@media (max-width: 500px) {
		font-size: calc(calc(18px * 0.75));
	}

	@media (min-width: 500px) {
		font-size: calc(18px);
	}

	font-family: 'Noto Sans', serif;
}

h1 a {
	color: black;
}

a:not(h1 a):link {
	color: blue;
	text-decoration: none;
}

a:not(h1 a):hover {
	color: blue;
	text-decoration: underline;
}

a:not(h1 a):visited {
	color: blue;
	text-decoration: none;
}

.inputbox {
	width: 200px;
}

.submit {
	margin-left: 8px;
	width: 100px;

	border: 2px solid black;
	border-radius: 0;
}

.letterlist {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.center {
	width: 100%;
	justify-content: center;
	text-align: center;
}

/* Mobile sizes */
@media (max-width: 500px) {
	.body {
		margin-left: 25px;
		margin-right: 25px;
	}

	.nowrap {
		width: calc(100vw - 50px - 2em);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list {
		display: grid;

		grid-auto-flow: column;
		grid-template-rows: repeat(40, 40px);
	}

	.list2 {
		display: grid;

		grid-auto-flow: column;
		grid-template-rows: repeat(80, 40px);
	}

	.list3 {
		display: grid;

		grid-auto-flow: column;
		grid-template-rows: repeat(120, 40px);
	}
}

/* Desktop sizes */
@media (min-width: 500px) {
	.body {
		margin-left: 50px;
		margin-right: 50px;
	}

	.nowrap {
		width: calc(100vw - 100px - 2em);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.list {
		display: grid;

		grid-auto-flow: column;
		grid-template-rows: repeat(20, 40px);
	}

	.list2 {
		display: grid;

		grid-auto-flow: column;
		grid-template-rows: repeat(40, 40px);
	}

	.list3 {
		display: grid;

		grid-auto-flow: column;
		grid-template-rows: repeat(60, 40px);
	}
}

.list4 {
	display: grid;

	grid-auto-flow: column;
	grid-template-rows: repeat(1000, 60px);
}

.listitem {
	width: 100%;
}