@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

h1 {
	font-family: 'IM Fell English SC', serif;
	font-size: calc(42px + 0.75vw);
}

h2 {
	font-family: 'Noto Sans', serif;
	font-size: calc(18px + 0.32vw);
	color: slategrey;
}

h3 {
	font-family: 'Noto Sans', serif;
	font-size: calc(16px + 0.3vw);
}

.h2font {
	font-family: 'Noto Sans', serif;
	font-size: calc(18px + 0.32vw);
}

p {
	font-family: 'Noto Sans', serif;
	font-size: calc(14px + 0.25vw);
}

.pfont {
	font-family: 'Noto Sans', serif;
	font-size: calc(14px + 0.25vw);
}

h1 a {
	color: black;
}

a:not(h1 a):link {
	color: blue;
	text-decoration: none;
}

a:not(h1 a):hover {
	color: blue;
	text-decoration: underline;
}

a:not(h1 a):visited {
	color: blue;
	text-decoration: none;
}

.inputbox {
	width: 200px;
}

.submit {
	margin-left: 8px;
	width: 100px;

	border: 2px solid black;
	border-radius: 0;
}

.letterlist {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.center {
	width: 100%;
	justify-content: center;
	text-align: center;
}

.body {
	margin-left: 50px;
	margin-right: 50px;
}

.list {
	display: grid;

	grid-auto-flow: column;
	grid-template-rows: repeat(calc(round(down, (1000 / var(--screen-width)) * (var(--child-count) / 4), 10)), 50px);
}

.listitem {
	width: 100%;
}